<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="usersynchronizer:synchronize" type="SitecoreUser.Commands.Synchronize, SitecoreUser"/>
    </commands>
    <events timingLevel="custom">
      <event name="user:created">
        <handler type="SitecoreUser.EventHandlers.UserSynchronizerEventHandler, SitecoreUser" method="OnUserCreated"/>
      </event>
      <event name="user:updated">
        <handler type="SitecoreUser.EventHandlers.UserSynchronizerEventHandler, SitecoreUser" method="OnUserUpdated"/>
      </event>
      <event name="user:deleted">
        <handler type="SitecoreUser.EventHandlers.UserSynchronizerEventHandler, SitecoreUser" method="OnUserDeleted"/>
      </event>
    </events>
    <pipelines>
      <userSynchronizer.EditUserFields>
        <processor type="SitecoreUser.Pipelines.EditFieldsPipeline.AddBaseFields, SitecoreUser" />
      </userSynchronizer.EditUserFields>
    </pipelines>
    <settings>
      <setting name="UserSynchronization.DatabaseNames" value="master" />
      <setting name="UserSynchronization.DomainNames" value="sitecore" />
      <setting name="UserSynchronization.OutputPath" value="sitecore/content/users" />
      <setting name="UserSynchronization.UserTemplateId" value="{BE21682B-D7CB-4694-A04D-98BC76E62C0E}" />
    </settings>
  </sitecore>
</configuration>